[user]
	name = Junya Okabe
	email = okabe.junya.qj@alumni.tsukuba.ac.jp
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[gitflow "branch"]
	master = main
[push]
	autoSetupRemote = true
