.DS_Store

# direnv
.envrc

# Compiled Python files
*.pyc

# gcloud
.config/gcloud/

# nvim submodules
.config/nvim/plugged

# nvim node_modules
.config/coc/extensions/*
!.config/coc/extensions/package.json

# iterm2 config
.config/iterm2/AppSupport

# some jsons
.config/configstore/

# wireshark
.config/wireshark/
