.DS_Store

# direnv
.envrc

# Compiled Python files
*.pyc

# nvim submodules
.config/nvim/plugged

# nvim node_modules
.config/coc/extensions/*
!.config/coc/extensions/package.json

# some jsons
.config/configstore/
